{% extends "layout.html" %}

{% block content %}
<style>
   
</style>

<div class="flex items-center justify-center max-w-screen-xl mx-auto bg-gray-100 dark:bg-gray-900">
    <div class="text-center p-8 bg-white shadow-lg rounded-lg dark:bg-gray-800">
        <h1 class="text-4xl font-bold text-gray-900 dark:text-white">Bienvenido al Portal de la UTL</h1>
        <p class="mt-4 text-lg text-gray-600 dark:text-gray-300">
            Accede al registro de alumnos, exámenes y calificaciones de manera rápida y sencilla.
        </p>
        
        
    </div>
</div>
{% endblock %}